.cell {
    height: 30px;
    width: 30px;
}

.sky {
    background-color: rgb(183, 242, 250);
}

.earth {
    background-color: blanchedalmond;
}

table{
    border-collapse: collapse;
    /* made by Adam ;) */
    /* you made me freak out for a second :) */
}
.board-container {}

.score {}

.restart-btn {}

.restart-btn:hover {}

.stop-btn {}

.modal-container {}

.modal {}